a {
	text-decoration:none;
}

body {
	background-image: url("debut_light.png");
}


.mainh1 {
	text-align: left;
	font-family: 'Cantora One', sans-serif;
	color: #556270;
	font-size: 25px;
	text-shadow: 0 2px 0 #fff;
	margin: 0;
	margin-top: 75px;
	margin-left: 25px;
	line-height: 150%;
	float: left;
} 

#email {
	color: #03738E;
}

#city {
	color: #F1B703;
}

#tinker {
	color: #F15B07;
}

#coffee {
	color: #D92D01;
}

.image {
	height: 400px;
	width: 400px;
	float: right;
	overflow: hidden;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	border-radius: 20px;
	vertical-align: baseline;
	position: relative;
}


.image > img {
	width: 100%;
	border-radius: 20px;
	display: none;

}

.footer ul li {
		display:inline-block;
		border-right: 1px solid;
		padding: 2px 20px;
		text-decoration: none;
		margin-bottom: 10px;
		font-family: 'Open Sans', sans-serif;
		list-style: none;
}

.footer ul {
	margin-top: 75px;
}

.footer a:link , .footer a:visited {
		color:#556270;
}

.footer {
		color: #556270;
		padding-top: 50px;
		text-decoration:none;
		clear:both;
		text-align: center;
}

.footer ul li:last-child {
	border-right:none;
}

.container {
	width: 1050px;
	overflow: auto;
}
